.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.container a {
  text-decoration: none;
  color: #ffffff;
}

.container a:hover {
  text-decoration: underline;
}
